@import '../scss/Variables.scss';

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  border-radius: 1rem;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 2rem;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.219);
  img {
    z-index: 0;
    position: relative;
    width: 100%;
  }
  &::before {
    z-index: 1;
    position: absolute;
    content: '';
    inset: 0;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
  }
  & h1 {
    z-index: 2;
    position: absolute;
    color: $white;
    font-size: 50px;
    font-weight: 600;
    stroke: black;
    text-shadow: 0px 0px 4px black;
  }
}

@media screen and (width <=700px) {
  .banner {
    min-height: 100px;
    height: 100px;
    font-size: 20px;
    flex-wrap: wrap;
    text-align: left;
    justify-content: flex-start;
    & h1 {
      font-size: 20px;
      max-width: 188px;
      padding: 1rem;
    }
  }
}
