@import '../scss/Variables.scss';

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2.5rem;
  padding: 2.5rem;
  background-color: $grey;
  border-radius: 1rem;
}

@media screen and (width <=768px) {
  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $white;
    padding: 0;
  }
}
